.sliderContainer0, .sliderContainer3 {
  width: 69%;
}

.sliderContainer0 .dataDescription {
  width: 150px;
}

.sliderContainer1, .sliderContainer2  {
  width: 100%;
}

.slider0 {
  width: 300px !important;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 5px;
}

.slider0 img {
  width: 282.26px;
  height: 157.94px;
}

.articlesContainer {
  height: 219px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articlesContainer p {
  font-size: 24px;
  width: 224px;
}

.articlesContainer img {
  /* width: 100px; */
}

.slider1 {
  width: 89%;
  height: 541px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 5px;
}

.slider1 div {
  font-size: 24px;
}

.dataRow1 {
  width: 682px;
  height: 48px;
  background-color: #DFAA9A;
  color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dataRow2 {
  width: 1027px;
  height: 48px;
  background-color: #FF858F;
  color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dataRow3 {
  width: 851px;
  height: 48px;
  background-color: #979797;
  color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider1 h2 {
  color: #1a1a1a;
  padding: 0;
  padding-top: 38px;
}

 .slider1 .dataRow:nth-child(1) {
  background-color: green;
}

.slider2 {
  width: 93%;
  background-color: #fff;
  border-radius: 12px;
}

.containerPadding {
  padding-left: 4.6%;
}

.slider3 {
  background-color: skyblue;
}

.discussionContainer {
  height: 336px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.discussionContainer p {
  text-align: center;
  width: 508px;
  height: 108px;
}

.discussionContainer img {
  width: 130px;
  height: 60px;
}

.slider4 {
  background-color: green;
}

h3.dataHeading {
  height: 42px;
}

.dataContainer {
  height: 109px;
}

.dataDescription {
  width: 665px;
  height: 80px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
