.Extra {
  width: 100%;
  padding-top: 8vh;
  transition: 1s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid green; */
}

.Extra h1 {
  height: 13vh;
}

.dynamicContent h1, .dynamicContent h2 {
  font-family: 'Harriet Display';
  padding-left: 4.6%;
  color: #fff;
}

.dynamicContent h2 {
  font-family: 'Akkurat Pro Regular';
  font-size: 36px;
  line-height: 60px;
}
