.Extra {
  width: 100%;
  padding-top: 8vh;
  transition: 1s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid green; */
}

.Extra h1 {
  height: 13vh;
}

.dataDescription p {
  font-size: 20px;
  line-height: 23px;
}
