.menu {
  position: fixed;
  margin: 0 auto !important;
  width: 35%;
  height: 8vh;
  color: #fff;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.indicatorContainer {
  width: 35%;
  height: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.indicator {
  width: 0px;
  height: 3px;
  background-color: #DFAA9A;
  z-index: 2;
}

.menuContainer {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-family: 'Akkurat Bold';
  color: #fff;
  background-color: #1a1a1a;
  z-index: 1;
}

.menuBar p {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
