@font-face {
  font-family: 'Akkurat Pro Regular';
  src: url('/fonts/AkkuratPro-Regular.otf');
}

@font-face {
  font-family: 'Akkurat Bold';
  src: url('/fonts/akkurat-bold.ttf');
}

@font-face {
  font-family: 'Akkurat Pro';
  src: url('/fonts/AkkuratPro-Bold.otf');
}

@font-face {
  font-family: 'Harriet Display';
  src: url('/fonts/harriet_display_bold-webfont.ttf');
}

@font-face {
  font-family: 'Harriet Text';
  src: url('/fonts/harriet_text_regular-webfont.ttf');
}

* {
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 48px;
  line-height: 60px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

.App {
  background-color: #1a1a1a;
}

.App a {
  text-decoration: none;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.likeShareContainer {
  width: 100%;
  /* height: 464px; ANVÄND NÄR VI FÅTT IN HJÄRT-BILDEN */
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfcf9;
}

.likeShareContainer img {
  height: 418px;
}

.likeShare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p.bold {
  font-family: 'Akkurat Bold';
  font-size: 15px;
}

p.light {
  font-family: 'Akkurat Pro Regular';
  font-size: 14px;
}
