.landingContainer {
  width: 100%;
  height: 92vh;
  background-image: url('../../images/OlofPalme.jpg');
  background-size: cover;
  text-align: left;
  box-shadow: inset -2px -43px 42px -11px #1a1a1a
}

.oversightContainer {
  padding-left: 4.66%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
}

.goBack {
  height: 19vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.goBack a {
  font-family: 'Akkurat Bold';
  height: 27px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.goBack img {
  width: 31px;
  height: 27px;
  padding-right: 12px;
}

.oversightTextContainer {
  width: 34%;
  height: 69vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 20px;
}

.oversightTextContainer * {
  width: 100%;
}

.oversightTextContainer h1 {
  font-family: 'Harriet Display';
  line-height: 60px;
}

.descriptionContainer {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 28vh;
  line-height: 27px;
}

.descriptionContainer p {
  font-size: 20px;
  line-height: 25px;
}

.metaContainer {
  height: 27vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descriptionContainer p, .metaContainer p {
  font-family: 'Harriet Text';
}

.metaRow {
  margin-bottom: 7px;
}

.metaTitle {
  display: inline;
}

.borderBottomUppercase {
  border-bottom: 1px solid #DFAA9A;
  line-height: 23px;
  text-transform: uppercase;
  display: inline;
}

.readlistenContainer {
  font-family: 'Akkurat Bold';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ctaContainer {
  font-family: 'AkkuratBold';
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26vh;
}

.ctaButton.bottom {
  background-color: #FF858F;
}

.ctaButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5.7vh;
  border-radius: 5px;
  line-height: 23px;
}

.readlistenContainer div {
  width: 48%;
  height: 5.7vh;
  background-color: #DFAA9A;
}
