.Related {
  width: 100%;
  /* border: 1px solid green; */
}

.Related .slick-slide {
  width: 310px;
}

.Related h1 {
  margin-bottom: 25px;
}

.Related .containerPadding .sliderContainer3 .slick-slide {
    width: 310px !important;
}
